.treeview .treeview-btn {
    display: flex;
}

.treeview .treeview-btn i{
    color: #ef9454;
}

.treeview-menu {
    margin-left: 20px;
    margin-top: 10px;
    display: none;
}

.treeview-menu.menu-open {
    display: inline-block;
}