img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

th {
  text-align: left;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
    font-size: var(--font-size-sm);
    border: 1px solid #ccc;
    border-radius: var(--border-radius-md);
    padding: .375rem .75rem;
    transition: all 0.2s ease-in-out;
}

input:focus {
    border-color: #ef9454;
    outline: 0;
    box-shadow: 0 0 2px 3px #fff1e6;
}