/* Margin helpers */
.m-0  { margin: var(--spacing-0); }
.m-1  { margin: var(--spacing-1); }
.m-2  { margin: var(--spacing-2); }
.m-3  { margin: var(--spacing-3); }
.m-4  { margin: var(--spacing-4); }
.m-5  { margin: var(--spacing-5); }
.m-6  { margin: var(--spacing-6); }
.m-7  { margin: var(--spacing-7); }
.m-8  { margin: var(--spacing-8); }
.m-9  { margin: var(--spacing-9); }
.m-10 { margin: var(--spacing-10); }
.m-11 { margin: var(--spacing-11); }
.m-12 { margin: var(--spacing-12); }
.m-13 { margin: var(--spacing-13); }
.m-14 { margin: var(--spacing-14); }
.m-15 { margin: var(--spacing-15); }
.m-16 { margin: var(--spacing-16); }

.mt-1  { margin-top: var(--spacing-1); }
.mb-1  { margin-bottom: var(--spacing-1); }
.mb-2  { margin-bottom: var(--spacing-2); }
.ml-1  { margin-left: var(--spacing-1); }
.mr-1  { margin-right: var(--spacing-1); }

.mx-1  { margin-left: var(--spacing-1); margin-right: var(--spacing-1); }
.my-1  { margin-top: var(--spacing-1); margin-bottom: var(--spacing-1); }

/* Padding helpers */

.p-0  { padding: var(--spacing-0); }
.p-1  { padding: var(--spacing-1); }
.p-2  { padding: var(--spacing-2); }

.pt-1  { padding-top: var(--spacing-1); }
.pb-1  { padding-bottom: var(--spacing-1); }
.pl-1  { padding-left: var(--spacing-1); }
.pr-1  { padding-right: var(--spacing-1); }

.px-1  { padding-left: var(--spacing-1); padding-right: var(--spacing-1); }
.py-1  { padding-top: var(--spacing-1); padding-bottom: var(--spacing-1); }

/* Gap helpers */

.gap-0  { gap: var(--spacing-0); }
.gap-1  { gap: var(--spacing-1); }
.gap-2  { gap: var(--spacing-2); }
.gap-3  { gap: var(--spacing-3); }
.gap-4  { gap: var(--spacing-4); }
.gap-5  { gap: var(--spacing-5); }


/* Text helpers */
.text-danger {
  color: var(--color-danger);
  font-size: 12px;
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-base {
  font-size: var(--font-size-base);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.font-normal {
  font-weight: var(--font-weight-normal);
}

.font-medium {
  font-weight: var(--font-weight-medium);
}

.font-semibold {
  font-weight: var(--font-weight-semibold);
}
