/* ========== reset.css ========== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}