.value-box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.value-box .value-box-content {

}

.value-box .value-box-content .value-box-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.value-box .value-box-content .value-box-header i{
    font-size: 24px;
    color: #ef9454;
}