/* reset.css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

th {
  text-align: left;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

button {
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  color: #31374a;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3 {
  line-height: 1;  
  color: #6c757d;
}

h3 {
  font-weight: 400;
  color: #737477;
  font-size: 14px;
}

.material-symbols-outlined {
  font-size: 20px;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

/* layout */

#root {
  height: 100%;
}

.text-danger {
  color: #dc3545;
  font-size: 12px;
}

.btn {
  background-color: #ef9454;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: .375rem .60rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
  line-height: 1;
}

.btn-delete {
  background-color: #dc3545;
}

/* helpers */

.pr-5 {
  padding-right: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}