.billingCycleList .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.billingCycleList .table tr th,
.billingCycleList .table tr td{
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.billingCycleList .table tr.striped {
    background-color: #f9fafd;
}

.billingCycleList .table tr.striped {
    background-color: #f9fafd;
}

.billingCycleList .pagination {
    display: flex;
    font-size: 13px;
    margin-top: 13px;
}

.billingCycleList .pagination .paginationControls{
    display: flex;
    gap: 5px;
 }

 .billingCycleList .pagination .paginationControls button{
    border-bottom: 1px solid transparent;
 }

 .billingCycleList .pagination .paginationControls button:hover{
    border-bottom: 1px solid #ef9454;
 }

.billingCycleList .pagination span{
    margin-left: auto;
 }

 .activePage {
    font-weight: bold;
    color: #ef9454;
 }