.formContent {
    width: 100%;
}

.formContent .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9375rem;
}

.formContent .formGroup label{ 
    margin-bottom: 5px;
}

.formContent .infoBalance .title {
    font-size: 18px;
    margin: 40px 0 15px 0;
}

.formContent .infoBalance .infoBalanceBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.formContent .ItemListContent {
    display: flex;
    gap: 25px;
}

.formContent .boxFooter {
    display: flex;
    justify-content: flex-end;
}